## Data Types and Structures...

# **"THEORY QUESTION"**

#1.  What are data structures, and why are they important?
#-> Data structures are ways to organize and store data efficiently. They are important because they help in managing large amounts of data, optimizing operations like searching and sorting, and improving the performance of algorithms. They are used in various applications, from databases to operating systems, to make systems more effective and efficient.

#2. Explain the difference between mutable and immutable data types with examples?
#->" Mutable Data Types:

1. Mutable data types are those that can be changed after they are
created.

2. Examples include lists, dictionaries, and sets in Python.

3. For instance, you can add, remove, or modify elements in a list."


Example:

In [15]:
my_list = [1, 6, 0]
my_list.append(9)  # Now my_list is [1, 6, 0, 9]

[1, 6, 0, 9]

Immutable Data Types:

1. Immutable data types are those that cannot be changed once they are created.

2. Examples include strings, tuples, and integers in Python.

3. If you want to change an immutable object, you have to create a new one.

example:

In [10]:
my_string = "hello"
new_string = my_string + "guyz" # my_string is still "hello", new_string is "hello guyz"

#3. What are the main differences between lists and tuples in Python?
#-> List:Mutable, defind with square brakets [ ] ,flexible and can be changed after creation.

* Tuples:Immutable, defind with parenthese ( ) , faster and cannot be changed after creation.

In [33]:
#Example of list:

my_list = [1, 2, 4]
my_list.append(9)
# Now my_list is [1, 2, 4, 9]

#Example of tuple:

my_tuple = (1, 2, 4)
my_tuple.append(9)
#would raise to be an error because tuples are immutables

#4. Describe how dictionaries store data?
#-> Dictionaries in Python store data as key-value pairs using a technique called hashing. This allows for fast access to values by computing a hash code for each key, which determines where the key-value pair is stored in the dictionary.

#5. Why might you use a set instead of a list in Python?
#-> Sets are used instead of lists when you need unique elements, faster membership testing, and support for set operations like union, intersection, and difference.

#6. How do tuples ensure data integrity in Python?
#-> Tuples ensure data integrity in Python by being immutable, meaning their content cannot be changed once created. This immutability guarantees that the data remains constant and unaltered throughout the program.

#7. What is a hash table, and how does it relate to dictionaries in Python?
#-> A hash table is a data structure that stores key-value pairs using a hash function to compute an index for fast access. In Python, dictionaries use hash tables to efficiently store and retrieve data based on keys.

#8.   What is a hash table, and how does it relate to dictionaries in Python?
#-> A hash table is a data structure that stores key-value pairs using a hash function to compute an index for fast access. In Python, dictionaries use hash tables to efficiently store and retrieve data based on keys.

#9. Can lists contain different data types in Python?
#-> Yes, lists in Python can contain elements of different data types. For example, a single list can include integers, strings, floats, and even other lists or objects.

* Example

In [35]:
my_list = [1, "hii", 1.45, [5, 1, 4]]

#10. Explain why strings are immutable in Python?
#-> Strings are immutable in Python to enhance efficiency, security, and simplicity, and to allow them to be used as keys in dictionaries and elements in sets.

#11. What advantages do dictionaries offer over lists for certain tasks?
#-> Dictionaries offer advantages over lists for tasks that require fast lookups, key-value associations, and flexibility in data storage.

#12. Describe a scenario where using a tuple would be preferable over a list?
#-> Using a tuple is preferable over a list when you need to store a collection of items that should remain constant and unchangeable, ensuring data integrity.

#13. How do sets handle duplicate values in Python?
#-> Sets in python automatically handle duplicate values by ensuring that each element is unique. When you add an element to a set, Python checks if the element is already present. if it is the element is not added again,effectively removing any duplicates.

In [ ]:
my_set = {1,3, 3, 5, 7}
print(my_set)
#output: {1, 3, 5, 7}

#14. How does the “in” keyword work differently for lists and dictionaries?
#->1.  lists: The in keyword checks if a value exists within the list. It iterates through the list and returns True if the value is found, otherwise False.

In [ ]:
my_list = [1, 7, 3, 9]
print(7 in my_list)  # Output: True
print(4 in my_list)  # Output: False

2. dictionaries: The in keyword checks if a key exists within the dictionary. It does not check the values, only the keys.

In [ ]:
my_dict = {'ADITYA': 'Adi', 'age': 25}
print('ADITYA' in my_dict)  # Output: True
print('Adi' in my_dict)  # Output: False

#15. Can you modify the elements of a tuple? Explain why or why not?
#-> No, you cannot modify the element of a tuple in python because tuples are immutable.Once a tuple is created, its element cannot be changed added, or removed.This immutability ensures that the data remains constant and unaltered throughout the program.

#16. what is a nested dictionary,and give an example of its use case?
#-> A nested dictionary in Python is a dictionary within a dictionary. It allows you to store complex data structures by using dictionaries as values for keys in another dictionary.

In [ ]:
students = {
    'student1': {
        'name': 'Aditya',
        'age': 18,
        'grades': {'math': 95, 'chemistry': 79}
    },
    'student2': {
        'name': 'aryan',
        'age': 18,
        'grades': {'math': 78, 'chemistry': 88}
    }
}

# Accessing data
print(students['student1']['name'])  # Output: Aditya
print(students['student2']['grades']['math'])  # Output: 78

#17. Describe the time complexity of accessing elements in a dictionary?
#->
The time complexity of accessing elements in a dictionary is O(1) on average, meaning it is very fast due to the underlying hash table implementation. In rare worst-case scenarios, it can be O(n) due to hash collisions.

#18. In what situations are lists preferred over dictionaries?
#-> List are preferred over dictionaries when order matters,for simple collections,for easy iteration,and for memory efficency.

#19. Why are dictionaries considered unordered, and how does that affect data retrieval?
#-> Dictionaries are considered unordered because they do not maintain any specific order for key-value pairs. This affects data retrieval by making it impossible to rely on the order of elements when iterating through a dictionary. Instead, you access values directly using their keys for fast lookups.

#20. Explain the difference between a list and a dictionary in terms of data retrieva?
#-> Lists: Data retrieval is based on the index position of elements. You access elements by their position in the list, which requires knowing the exact index.

In [ ]:
my_list = [1, 2, 0]
print(my_list[2])  # Output: 0

* dictionaries: Data retrieval is based on unique keys. You access values by their associated keys, which allows for fast lookups without needing to know the position.

In [ ]:
my_dict = {'a': 50, 'b': 20, 'c': 30}
print(my_dict['a'])  # Output: 50

# **"PRACTICAL QUESTION"**

In [41]:
#1. Write a code to create a string with your name and print it.


my_name = "Aditya"
print(my_name)

Aditya

In [48]:
#2. Write a code to find the length of the string "Hello world"

my_string = "Hello world"
length = len(my_string)
print(length)

11

In [53]:
#3. Write a code to slice the first 3 characters from the string "Python Programming.

my_string = "python programming"
sliced_string = my_string[:3]
print(sliced_string)

pyt

In [61]:
#4. Write a code to convert the string "hello" to uppercase.

my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

In [71]:
#5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"..

my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

In [74]:
#6. Write a code to create a list with numbers 1 to 5 and print it..


my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [76]:
#7.  Write a code to append the number 10 to the list [1, 2, 3, 4]


my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [85]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [88]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'] :


my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [92]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [95]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it.


my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [98]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')


my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

In [103]:
#13. Write a code to count how many times the number 2 appears in tuple(1, 2, 3. 2, 4, 2)


my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print(count)

3

In [107]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')


my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [113]:
#15. Write a code to check if the element "banana" is in the tuple('apple', 'orange', 'banana')


my_tuple = ('apple', 'orange', 'banana')
if 'banana'in my_tuple:
    print("banana is in the tuple")
else:
    print("banana is not in the tuple")

banana is in the tuple

In [116]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it


my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [120]:
#17. Write a code to add the element 6 to the set{1, 2, 3, 4}


my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

In [123]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it


my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [126]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')


my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple(0)
print(first_element)

apple

In [127]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)


my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print(count)

3

In [128]:
#21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')


my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [130]:
#23. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')


my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("banana is in the tuple")
else:
    print("banana is not in the tuple")

banana is in the tuple

In [133]:
#24. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.


my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}